
.inter-one{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-two{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

 body{
  background-color: rgba(78, 71, 255, 0.06);
 }

/* Header Style */
.header{
  background-image: url(../Assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 698px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 150px;
}
.nav-title{
  font-size: 34px;
  font-weight: 900px;
  color: #4E47FF;
}
.nav-btn{
  background-color: #4E47FF;
  color: #FFFFFF;
  font-size: 16px;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
}
.banner{
  text-align: center;
  margin-top: 200px;
}
.banner-title{
  font-size: 65px;
  color: #252432;
  height: 152px;
  width: 905px;
  text-align: center;
  margin: 0 auto;

}
.banner-btn{
  margin-top: 37px;
}

/* Action Section Style */

.left-side{
  height: 203px;
  width: 517px;
  padding: 62px 623px 62px 0px;
}
.action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px 160px 116px 140px;
}
.action-title{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 23px;
}

.action-subtitle{
  font-size: 24px;
  font-weight: 400;
  color: #252432;
  opacity: 50%;
  height: 60px;
  width: 517px;
}
.action-btn{
  margin-top: 20px;
}
.right-side .action-image{
  border-radius: 48px;
  height: 328px;
  width: 403px;
}

/* Productive Users Style */

.productive-users{
  background-color: rgba(78, 71, 255, 0.1);
  margin: 116px 159px 137px 141px;
  padding: 50px 142px;
  border-radius: 24px;
}

.pu-title{
  font-size: 38px;
  font-weight: bold;
  color: #252432 ;
  text-align: center;
}
.pu-item{
  display: flex;
  justify-content: center;
  gap: 158px;
}
.pu-data{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
}
.level{
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  opacity: 50%;
}

/* Users Feedback Style */
.feedback{
  text-align: center;
  margin: 137px 149px 137px 151px;
}
.feedback-title{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}
.reviews{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.review{
  background-color: #FFFFFF;
  padding: 24px;
  height: 243px;
  width: 367px;
  border-radius: 14px;
  text-align: left;
}
.stars{
  color: #FFB805;
  font-size: 30px;
}
.review-title{
  font-size: 24px;
  color: #1E1E1E;
  margin-bottom: 8px;
  margin-top: 24px;
}
.review-description{
  font-size: 16px;
  color: #1E1E1E;
  margin: px 24px 24px 0px;
}
.profile{
  display: flex;
  justify-content: left;
  gap: 6px;
  margin-top: 24px;

}
.avatar{
  height: 40px;
  width: 40px;
  border-radius: 9999%;
}
.profile-text{
  font-size: 16px;
  color: #757575;
}
.name{
  font-weight: 600;
}

/* Let's Get in Touch Style */

.get-in-touch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 115px;
  padding-top: 71px;
  padding-bottom: 71px;
  margin: 106px 217px 0px 83px;
}
.gt-one{
  flex: 1;
  text-align: center;
}
.gt-title{
  font-size: 97px;
  font-weight: bold;
  height: 232px;
  width: 528px;
  margin-left: 83px;
}
.gt-two{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.gt-input{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 217px;
}
.gt-label{
  font-size: 18;
  font-weight: 500;
}
.gt-field{
  padding: 20px 271px 20px 32px;
  font-size: 20px;
  border: #D6DDED;
  border-radius: 10px;
}
.gt-btn{
  margin-right: 217px;
}
/* Footer Style */

.footer-section{
  text-align: center;
  padding: 104px 455px 103px 454px;
  background-color: white;
}
.footer-title{
  font-size: 100px;
  font-weight: 900px;
  color: #4E47FF;
  margin-bottom: 8px;
}
.footer-subtitle{
  font-size: 16px;
  color: #8987A1;
  margin-bottom: 20px;
}
.footer-links{
  display: flex;
  justify-content: center;
  gap: 48px;
}
.footer-links a{
  font-size: 16px;
  color: #8987A1;
  text-decoration: none;
}